workspace/MWN/Web References/MySMS/sms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/SMSWebService/SMSService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/SMSWebService/SMSService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SMSWebService/SMSService">
      <s:element name="sendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="receiveMessageResult" type="tns:ArrayOfSMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SMS" nillable="true" type="tns:SMS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dateReceived" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setMessagesStatusToUnread">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setMessagesStatusToUnreadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setMessagesStatusToUnreadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfSMS" nillable="true" type="tns:ArrayOfSMS" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="sendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="receiveMessageSoapIn">
    <wsdl:part name="parameters" element="tns:receiveMessage" />
  </wsdl:message>
  <wsdl:message name="receiveMessageSoapOut">
    <wsdl:part name="parameters" element="tns:receiveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="setMessagesStatusToUnreadSoapIn">
    <wsdl:part name="parameters" element="tns:setMessagesStatusToUnread" />
  </wsdl:message>
  <wsdl:message name="setMessagesStatusToUnreadSoapOut">
    <wsdl:part name="parameters" element="tns:setMessagesStatusToUnreadResponse" />
  </wsdl:message>
  <wsdl:message name="sendMessageHttpGetIn">
    <wsdl:part name="MobileNo" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SMSAccount" type="s:string" />
    <wsdl:part name="SMSPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="receiveMessageHttpGetIn">
    <wsdl:part name="SMSAccount" type="s:string" />
    <wsdl:part name="SMSPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="receiveMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSMS" />
  </wsdl:message>
  <wsdl:message name="setMessagesStatusToUnreadHttpGetIn">
    <wsdl:part name="SMSAccount" type="s:string" />
    <wsdl:part name="SMSPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setMessagesStatusToUnreadHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sendMessageHttpPostIn">
    <wsdl:part name="MobileNo" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SMSAccount" type="s:string" />
    <wsdl:part name="SMSPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="receiveMessageHttpPostIn">
    <wsdl:part name="SMSAccount" type="s:string" />
    <wsdl:part name="SMSPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="receiveMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSMS" />
  </wsdl:message>
  <wsdl:message name="setMessagesStatusToUnreadHttpPostIn">
    <wsdl:part name="SMSAccount" type="s:string" />
    <wsdl:part name="SMSPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setMessagesStatusToUnreadHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SMSServiceSoap">
    <wsdl:operation name="sendMessage">
      <wsdl:input message="tns:sendMessageSoapIn" />
      <wsdl:output message="tns:sendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <wsdl:input message="tns:receiveMessageSoapIn" />
      <wsdl:output message="tns:receiveMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setMessagesStatusToUnread">
      <wsdl:input message="tns:setMessagesStatusToUnreadSoapIn" />
      <wsdl:output message="tns:setMessagesStatusToUnreadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSServiceHttpGet">
    <wsdl:operation name="sendMessage">
      <wsdl:input message="tns:sendMessageHttpGetIn" />
      <wsdl:output message="tns:sendMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <wsdl:input message="tns:receiveMessageHttpGetIn" />
      <wsdl:output message="tns:receiveMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setMessagesStatusToUnread">
      <wsdl:input message="tns:setMessagesStatusToUnreadHttpGetIn" />
      <wsdl:output message="tns:setMessagesStatusToUnreadHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSServiceHttpPost">
    <wsdl:operation name="sendMessage">
      <wsdl:input message="tns:sendMessageHttpPostIn" />
      <wsdl:output message="tns:sendMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <wsdl:input message="tns:receiveMessageHttpPostIn" />
      <wsdl:output message="tns:receiveMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setMessagesStatusToUnread">
      <wsdl:input message="tns:setMessagesStatusToUnreadHttpPostIn" />
      <wsdl:output message="tns:setMessagesStatusToUnreadHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSServiceSoap" type="tns:SMSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://tempuri.org/SMSWebService/SMSService/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <soap:operation soapAction="http://tempuri.org/SMSWebService/SMSService/receiveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMessagesStatusToUnread">
      <soap:operation soapAction="http://tempuri.org/SMSWebService/SMSService/setMessagesStatusToUnread" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSServiceSoap12" type="tns:SMSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMessage">
      <soap12:operation soapAction="http://tempuri.org/SMSWebService/SMSService/sendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <soap12:operation soapAction="http://tempuri.org/SMSWebService/SMSService/receiveMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMessagesStatusToUnread">
      <soap12:operation soapAction="http://tempuri.org/SMSWebService/SMSService/setMessagesStatusToUnread" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSServiceHttpGet" type="tns:SMSServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="sendMessage">
      <http:operation location="/sendMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <http:operation location="/receiveMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMessagesStatusToUnread">
      <http:operation location="/setMessagesStatusToUnread" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSServiceHttpPost" type="tns:SMSServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="sendMessage">
      <http:operation location="/sendMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <http:operation location="/receiveMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMessagesStatusToUnread">
      <http:operation location="/setMessagesStatusToUnread" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port name="SMSServiceSoap" binding="tns:SMSServiceSoap">
      <soap:address location="http://172.20.128.62/SMSWebService/sms.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSServiceSoap12" binding="tns:SMSServiceSoap12">
      <soap12:address location="http://172.20.128.62/SMSWebService/sms.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSServiceHttpGet" binding="tns:SMSServiceHttpGet">
      <http:address location="http://172.20.128.62/SMSWebService/sms.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSServiceHttpPost" binding="tns:SMSServiceHttpPost">
      <http:address location="http://172.20.128.62/SMSWebService/sms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>